<%- include('./partials/header') -%>
<link rel="stylesheet" href="/css/loginProceed.css">
<div class="proceed">
    <p>You are not logged in. Please Login to proceed further.</p>
    <span><a href="/login">Login</a></span>
</div>

<script src="/js/first.js"></script>

</body>