

<%- include('./partials/header') -%>
<link rel="stylesheet" href="css/form.css">

<div class="user-btns">
    <li><a href="/user/saved-memories">Saved Memories</a></li>
    <li><a href="/user/saved-blogs">Saved Blogs</a></li>
    <li><a href="">Logout</a></li>
  </div>

<form action="/userMemory" method="POST" class="memform memoryForm" enctype="multipart/form-data">
    <div class="form-container">
        <div class="top-shadow">
            <h2>...</h2>
        </div>
        <div class="form-component">
            <label>Author Name:</label>
            <input type="text" class="form-control" name="memoryAuthor" autocomplete="off">
        </div>
<div class="form-component">
    <label>Title:</label>
    <input type="text" class="form-control" name="memoryTitle" autocomplete="off">
</div>
<div class="form-component">
    <label>Memory date:</label>
    <input type="text" class="form-control" name="memoryDate" autocomplete="off">
</div>
<div class="form-component">
    <label>Memory:</label>
    <textarea name="memoryBody" class="form-control" rows="7" cols="15" ></textarea>
</div>
<div class="form-component image-input">
    <label>Insert image(if any):</label>
    <input type="file" class="form-control" name="memoryImage" accept="image/*">
</div>

<button type="submit" name="button" class="btn">Publish</button>
</div>

</form>
<script src="/js/first.js"></script>
</body>